# Entornos virtuales
venv/
env/
.env/
.venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración local
.env
.env.local 